@charset "UTF-8";

@import url(sanitize.css);

th {
	mix-blend-mode: difference;
	border-bottom: 3px #444444 double;
}

.date {
	text-align: center;
}

.taskOver {
	background-color: #FFCCCC;
}

.taskDone {
	background-color: #CCFFCC;
}

.task-table {
	width:60%;
	text-align: center;
	margin: 20px auto;
}

.delete-button-column, .done-button-column {
	width: 70px;
}

.deadline-column, .status-column {
	width: 135px;
}

.filter-form {
	width: 50%;
	margin-right: 25px;
}

#delete-button {
	margin: .1em;
	width: 90%;
	color: #fff;
  	background-color: #eb6100;
  	border-bottom: 5px solid #b84c00;
  	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  	box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

#delete-button:hover {
	margin-top: 3px;
  	color: #fff;
  	background: #f56500;
  	border-bottom: 2px solid #b84c00;
}

#done-button {
	margin: .1em;
	width: 90%;
	color: #fff;
  	background-color:#009900;
  	border-bottom: 5px solid #006600;
  	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  	box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

#done-button:hover {
	margin-top: 3px;
  	color: #fff;
  	background: #009900;
  	border-bottom: 2px solid #006600;
}

#remand-button {
	margin: .1em;
	width: ;
	color: #fff;
  	background-color:#FFCC33;
  	border-bottom: 5px solid #DAA520;
  	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  	box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

#remand-button:hover {
	margin-top: 3px;
  	color: #fff;
  	background: #FFCC33;
  	border-bottom: 2px solid #DAA520;
}

.serch-date{
	appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    border-bottom: 1px solid #d1d1d1;
    padding: 1px 6px;
    border-width: 2px;
    margin: 0 10px;
}

#serch-word {
	appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    border-bottom: 1px solid #d1d1d1;
    padding: 1px 6px;
    border-width: 2px;
    margin: 5px 10px 0;
}

#serch-botton {
	margin: .1em;
	width: 70px;
	color: #000;
  	background-color:#fff;
  	border-bottom: 5px solid #F5F5F5;
  	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  	box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  	border-radius: 100vh;
}

#serch-botton:hover {
	margin-top: 3px;
  	border-bottom: 2px solid #F5F5F5;
}

.search-bar {
	display: flex;
	justify-content: center;
}

.filter-form, .clear-button-table {

}

select {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}