
@charset "UTF-8";

@import url(sanitize.css);

th {
	mix-blend-mode: difference;
	border-bottom: 3px #444444 double;
}

.date {
	text-align: center;
}

.taskOver {
	background-color: #FFCCCC;
}


.addTaskWrapper {
	text-align: center;
}

.taskDone {
	background-color: #CCFFCC;
}

.taskTable {
	width:60%;
	text-align: center;
	margin: 20px auto;
}

.taskTable input {
	width:100%;
}

.statusTd {
	color: red;
	font-weight: bolder;
}

.deleteButtonColumn, .doneButtonColumn {
	width: 50px;
}

.deadlineColumn, .statusColumn {
	width: 135px;
}

.filterForm {
	width: 50%;
	margin: 0 auto;

input{
	appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: -internal-light-dark(black, white);
    background-color: #eeeeee;
    box-sizing: border-box;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

select {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
