<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>HOME</title>
<link th:href="@{/css/styleHome.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/styleHeaderFooder.css}" rel="stylesheet" type="text/css">
<script type="text/javascript">

$(function(){
	$("#submitSelect").change(function(){
    	$("#submitForm").submit();
	});
});

function deleteConfirm() {
	if (confirm("本当に削除しますか？")) {
		alert("削除しました");
		return true;
	} else {
		return false;
	}
}

</script>
</head>
<body>
	<header>
		<a th:href="@{/nishioze}"><h2 class="header-title">TODO LIST</h2></a>
		<ul>
              <li><a th:href="@{/nishioze/newtask}">add+</a></li>
        </ul>

	</header>
	<h3 th:text="'TODAY：' + ${date}" class="date"></h3>


	<form th:action="@{/nishioze}" method="get" class="filterForm">
		<table>
			<tr>
				<td><input type="date" name="selectedStart" th:value="${selectedStart}"/></td>
				<td>～</td>
				<td><input type="date" name="selectedEnd" th:value="${selectedEnd}"/></td>
				<td><input type="text" name="selectedWord" th:value="${ selectedWord }" placeholder="ワード検索"/>
				<td><input type="submit" value="絞込"/></td>
			</tr>
		</table>
	</form>

	<table border="1" class="taskTable">
		<tr>
			<th class="taskColumn">タスク</th>
			<th class="statusColumn">
				<form th:action="@{/nishioze}" method="get" id="submitForm">
					<select id="submitSelect" name="status" th:value="${ status }" onchange="submit(this.form)">
						<option value="all" th:selected="${ status } == 'all'">ALL</option>
						<option value="yet" th:selected="${ status } == 'yet'">未着手</option>
						<option value="done" th:selected="${ status } == 'done'">完了</option>
						<option value="over" th:selected="${ status } == 'over'">期限切れ</option>
					</select>
				</form>
			</th>
			<th class="deadlineColumn">期限</th>
			<th class="doneButtonColumn">完了</th>
			<th class="deleteButtonColumn">削除</th>
		</tr>
		<th:block th:each="task : ${tasks}">

			<tr th:class="${task.status} == 1 ? 'taskDone' : ( ${ @helper.beforeDeadline(task)} == true ? 'taskYet' : 'taskOver')">
				<td th:text="${ task.content }"></td>
				<th:block th:if="${ task.status } == 0 and ${ @helper.beforeDeadline(task)}">
					<td th:text="未着手"></td>
				</th:block>
				<th:block th:if="${ task.status } == 0 and !${ @helper.beforeDeadline(task)}">
					<td th:text="期限切れ"></td>
				</th:block>
				<th:block th:if="${ task.status } == 1">
					<td th:text="完了"></td>
				</th:block>
				<td th:text="${#dates.format(task.deadline, 'yyyy/MM/dd')}"></td>
				<td th:switch="${ task.status }">
					<form th:action="@{/nishioze/task/{id}/update(id=${ task.id })}" th:method="put">
						<th:block th:switch="${ task.status }">
							<input  th:case="1" type="submit" value="差戻し"/>
							<input th:case="*" type="submit" value="完了"/>
						</th:block>
					</form>
				</td>
				<td>
					<form th:action="@{/nishioze/task/{id}/delete(id=${ task.id })}" th:method="delete" onclick="return deleteConfirm()">
						<input type="submit" value="削除"/>
					</form>
				</td>
			</tr>
		</th:block>
	</table>

	<footer>
	<p>Copyright(c)nishioze</p>
</footer>
</body>
</html>