<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新規投稿</title>
<link th:href="@{/css/styleNewTask.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/styleHeaderFooder.css}" rel="stylesheet" type="text/css">

</head>
<body>
<header>
		<a th:href="@{/nishioze}"><h2 class="header-title">TODO LIST</h2></a>
		<ul>
              <li><a th:href="@{/nishioze/newtask}">add+</a></li>
        </ul>

	</header>
<div class="main-contents">
	<ul>
		<th:block th:each="errorMessage : ${errorMessages}">
	      <li th:text="${errorMessage}"></li>
	    </th:block>
    </ul>

	<form method="post" action="/nishioze/addtask" th:object="${formModel}">
		<div class="control">
			<label for="content">タスク</label>
			<input name="content" id="content" th:value="${content}" placeholder="20文字以内で入力してください"/>
		</div>
		<div class="control">
			<label for="content">期限(翌日以降)</label>
			<input type="date" name="deadline" id="deadline" th:value="${deadline}"/>
		</div>
		<div class="control">
			<button type="submit" >作成</button>
		</div>
	</form>

</div>
<footer>
	<p>Copyright(c)nishioze</p>
</footer>

</body>
</html>